
#requestForm{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #2a2a2a;
    width: 100%;
    height: 600px;
    color: #ffffff;
}

#input_req{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forma{
    display: flex;
    justify-content: center;
}

.vnos1{
    height: 30px;
    font-family:Arial;
    font-size:16px;
}

.vnos2{
    height:200px;
    resize:none;
    padding-top:10px;
    font-family:Arial;
    font-size:16px;
    text-align:left;
}

#submit{
    width: 100%;
    background-color: #356add;
    color: #f5f5f5;
    border: 2px solid black;
    height: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-family:Arial;
    font-size:16px;
}

#submit:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 20px white;
}

.vnos1:focus, .vnos2:focus{
    box-shadow: 0 0 20px white;
}